---
layout: default
---

<h2>What is Nodeschool?</h2>

<p>
  <a target="_blank" href="http://nodeschool.io/">NodeSchool</a> is an open
  source project run by volunteers with two goals: to create high quality
  programming curriculum and to host community learning events. NodeSchool
  meets across the globe at local meetups called
  <a target="_blank" href="http://nodeschool.io/chapters.html">chapters</a>.
  You'll learn about various node and javascript concepts, tools, and libraries
  via hands on excercises called
  <a target="_blank" href="http://nodeschool.io/#workshoppers">workshoppers</a>.
  The Core workshoppers will ramp you up if you have no prior experience and
  teach you a thing or two if you do. From there, you'll be able to jump into
  any of the growing list of Elective workshoppers and go deep into specific
  topics.
</p>

<h2>Bring your laptop!</h2>

<p>
  Workshoppers are hands on which means you'll need to bring a laptop or
  similar.
</p>

<h2>What if I'm...</h2>

<h3>a) new to Node, javascript, etc.?</h3>

<p>
  Newcombers are welcome! The
  <a href="{{ site.baseurl }}/organizers/">organizers</a> and your fellow
  NodeSchoolers will happily assist you every step of the way. Besides,
  NodeSchool is a great place to get started! And there will be other newbies
  there if you (collectively) decide to come! We're all newbs anyway :)
</p>

<h3>b) an expert with Node?</h3>

<p>
  First, re-read the paragraph above. Recall the days you were getting started
  and what they were like. Imagine what it would have been like if your
  current, experienced self humbly tutored your newb self. How would your
  tutelage have made your newb self feel? How do you feel?
</p>

<p>
  Now take a moment to reflect on the last sentance that generalizes we are all
  newbs. List all the things you have learned that make up your experience.
  Congratulate yourself for putting in the effort that has lead to your success
  today. Imagine helping someone else take their first step toward success.
  List all the things you have yet to learn. Let the length of that list sink
  in. Think of what you can learn by teaching others. You should come, we're
  all newbs.
</p>

<h2>I'm in!</h2>

<p> The Dallas chapter meets on the <strong>4th Wednesday</strong> of the month
  at <strong>6:30pm</strong> (most of the time). Each event will have a
  featured workshopper, but feel free to attend and work on any workshopper
  that interests you. Take a gander at the upcoming events below to find out
  when and where the next one will be. Please RSVP on
  <a target="_blank" href="{{ site.data.urls.meetup }}">meetup</a> if you plan
  on attending. See you there! (Bring your laptop!)
</p>

<h2 id="events">Events</h2>

<div class="events"> {% for post in site.posts %}
  <div class="event">
    <h3 class="event-title">
      <a href="{{ post.url }}">{{ post.date | date_to_string}} - {{ post.title }}</a>
    </h3>

    <a class="event-meetup" target="_blank" href="{{ site.data.urls.meetup }}/events/{{ post.meetupId }}">
      <span class="sr-only">Meetup</span>
      <img alt="Meetup Logo" src="{{ site.baseurl }}/assets/images/meetup-logo.png" />
    </a>

    {% for sponsor in post.sponsors %}
    <a class="event-sponsor event-sponsor-{{sponsor}}" target="_blank" href="{{ site.data.sponsors[sponsor].url }}">
      <span class="sr-only">Sponsored by {{ site.data.sponsors[sponsor].name }}</span>
      <img alt="{{ site.data.sponsors[sponsor].name }} Logo" src="{{ site.baseurl }}/assets/images/{{ site.data.sponsors[sponsor].img }}" />
    </a>
    {% endfor %}

    {% if post.studyAbroad %}
    <span class="event-study-abroad label label-primary">
      <span class="glyphicon glyphicon-globe"></span>
      <a href="{{ site.baseurl }}/study-abroad/">Study Abroad</a>
    </span>
    {% endif %}

  </div>
  {% endfor %}
</div>
