---
layout: default
---

<h2>What is Nodeschool?</h2>

<p>
</p>

<h2>When and Where is Nodeschool Dallas?</h2>

<p>
</p>

<h2>Events</h2>

<div class="events">
  {% for post in site.posts %}
  <div class="event">
    <h3 class="event-title">
      <a href="{{ post.url }}">{{ post.date | date_to_string}} - {{ post.title }}</a>
    </h3>

    <a class="event-meetup" target="_blank" href="{{ site.data.meetup.url }}/events/{{ post.meetupId }}">
      <span class="sr-only">Meetup</span>
      <img alt="Meetup Logo" src="{{ site.baseurl }}/assets/images/meetup-logo.png" />
    </a>

    {% for sponsor in post.sponsors %}
    <a class="event-sponsor event-sponsor-{{sponsor}}" target="_blank" href="{{ site.data.sponsors[sponsor].url }}">
      <span class="sr-only">Sponsored by {{ site.data.sponsors[sponsor].name }}</span>
      <img alt="{{ site.data.sponsors[sponsor].name }} Logo" src="{{ site.baseurl }}/assets/images/{{ site.data.sponsors[sponsor].img }}" />
    </a>
    {% endfor %}

    {% if post.studyAbroad %}
    <span class="event-study-abroad label label-primary">
      <span class="glyphicon glyphicon-globe"></span>
      <a href="{{ site.baseurl }}/study-abroad/">Study Abroad</a>
    </span>
    {% endif %}

  </div>
  {% endfor %}
</div>
