<header class="site-header">

  <button type="button" class="site-nav-toggle collapsed" data-toggle="collapse" data-target="#site-nav-collapse" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>

  <div class="container">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <div class="site-nav collapse" id="site-nav-collapse">

      <nav>
        {% for page in site.pages %}
        {% if page.title %}
        <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
        {% endfor %}
      </nav>

      <div class="social-links">
        {% for app in site.data.social %}
        <div class="social-link-container">
          <a class="social-link social-link-{{ app.name | slugify }}" target="_blank" href="{{ app.url }}">
            <span class="social-link-name sr-only">{{ app.name }}</span>
            <img class="social-link-logo" alt="{{ app.name }} Logo" src="{{ site.baseurl }}/assets/images/social/{{ app.name | slugify }}.png" />
          </a>
        </div>
        {% endfor %}
      </div>

    </div>

  </div>

</header>
