body {
  background: black;
}

.page-content {

  .container {
    padding-bottom: 20px;
    background: $brand-primary;
    color: white;
  }

}

.post-meta {
  .meetup-logo {
    height: 1em;
    position: relative;
    bottom: 1px;
    vertical-align: middle;
  }
}

.post-sponsors {
  .sponsor {
    margin-right: 10px;
  }
}

.post-content {

  img {
    @extend .img-responsive;
  }

}

.site-header {
  position: relative;
  background-color: $skyline-color;

  .container {
    background-image: $dallas-skyline;
    background-position: bottom right 5%;
    background-size: auto 90%;
    background-repeat: no-repeat;
  }
}

.site-title {
  @extend .h1;

  color: white;
  text-shadow: 1px 1px black;

  &:hover {
    color: darken(white, 10%);
    text-shadow: 1px 1px 1px black;
    text-decoration: none;
  }
}

.site-nav {
  @extend .navbar-collapse;

  padding: 0;

  .page-link {
    @extend .btn, .btn-xs, .btn-primary;
  }

  nav, .social-links, .social-link-container {
    display: inline-block;

    @media(max-width: $screen-xs-max) {
      display: block;
    }
  }

  @media(max-width: $screen-xs-max) {
    .social-link-container {
      width: 25%;
      margin-top: 10px;
      margin-bottom: 10px;
      float: left;
      text-align: center;
    }
  }

  @media(max-width: $screen-xs-max / 2) {
    .social-link-container {
      width: 50%;
    }
  }

  .social-link {
    display: inline-block;
    border-radius: 2px;

    &:hover, &:focus {
      text-decoration: none;
    }

    @media(max-width: $screen-xs-max) {
      background-color: white;

      &:hover {
        background-color: darken(white, 2.5%);
      }
    }
  }

  .social-link-logo {
    height: 22px;

    @media(max-width: $screen-xs-max) {
      height: 32px;
      margin: 10px;
    }
  }
}

.site-nav-toggle {
  @extend .navbar-toggle;

  background-color: $btn-primary-bg;
  border: none;
  margin-left: 15px;

  &:hover,
  &:focus {
    background-color: darken($btn-primary-bg, 10%);
  }

  .icon-bar {
    background-color: $btn-primary-color;
  }

}

@media(max-width: $screen-xs-max) {

  .site-header {

    .container {
      background-position: bottom right 12%;
      background-size: auto 80%;
    }

  }

  .site-title {
    font-size: 3.6em;
  }

  .site-nav {
    position: absolute;
    top: 100%;
    width: 100%;
    padding: 0 15px;
    background-color: transparentize(white, 0.8);

    .page-link {
      width: 100%;
      font-size: 1.4em;
      margin-top: 3px;

      &:last-of-type {
        margin-bottom: 3px;
      }
    }
  }

}

@media(max-width: $screen-xs-max / 2) {

  .site-header {

    .container {
      background-position: bottom right 20%;
      background-size: auto 60%;
    }

  }

  .site-title {
    font-size: 2.5em;
  }

}

@media(min-width: $screen-sm) and (max-width: $screen-sm-max) {

  .site-header {

    .container {
      height: 100px;
      padding-top: 8px;
    }

  }

  .site-title {
    font-size: 4.2em;
  }

}

@media(min-width: $screen-md) and (max-width: $screen-md-max) {

  .site-header {

    .container {
      height: 160px;
      padding-top: 55px;
    }

  }

  .site-title {
    font-size: 5em;
  }

}

@media(min-width: $screen-lg) {

  .site-header {

    .container {
      height: 200px;
      padding-top: 80px;
    }

  }

  .site-title {
    font-size: 6em;
  }

}

.site-footer {
  background-color: black;
  color: white;
  border-top: 1px solid lighten($brand-primary, 10%);

  ul {
    padding-left: 0;
  }

  li {
    list-style: none;
  }
}
