/* COLORS
====================================================
==================================================== */

$blue: #1f88b5;
$purple: #994fb9;
$green1: #BED88C;
$green2: #96C241;
$green3: #708B45;
$green4: #414338;
$orange: #F9A962;