/* START OF ATT FOUNDRY STYLES | DEFAULTS
====================================================
==================================================== */

// Import Bootstrap overrides:
@import "bootstrap";

html, body { width: 100%; height: 100%; } 

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: em(16);
	overflow-x: hidden;
	color: #fff;
	background: #f7f7f7;
	background: darken($purple, 10%);
}

canvas {
	position: absolute;
	top: 0;
	display: block;
	vertical-align: bottom;
}

.container {
	width: 100%;
	position: relative;
	text-align: center;
	z-index: 2;
}

.hello {
	margin: 5% auto;
	width: 360px;
}

.logo {
	margin: 20px 0;
	@include transition(all, 1s, ease-in-out);

	&:hover {
		transform:rotate(360deg);
	}
}

h1, h2 {
	font-weight: 900;	
	text-align: center;
}

h1 { font-size: em(32); }

h2 { font-size: em(24); }

.message_block {
	margin-top: 40px;
	p {  margin: 0 0 40px 0; }
	a {
		padding: 10px 20px;
		color: white;
		text-decoration: underline;
		background: #333;
		@include rounded(6px);

		&:hover { text-decoration: none; }
	}
}

.code_block {
	margin-top: 20px;
	width: 340px;
	height: 70px;
	@include rounded(6px);
	@include transition(background, .3s, ease-in-out);

	&:hover {
		cursor: text;
	}

	h2 {
		font-size: em(20);
	}

	p {
		position: absolute;
		padding: 12px 20px;
		width: 360px;
		height: 80px;
		font-family: 'Source Code Pro', sans-serif;
		font-size: em(14);
		font-weight: 300;
		line-height: em(24);
		color: #ccc;
		@include transition(letter-spacing, .4s, ease-in-out);

		em {
			font-family: 'Source Code Pro', sans-serif;
			font-weight: 500;
		}

		&:hover {
			letter-spacing: .5px;
			color: #fff;
		}
	}
}

.bitcoin_support {
	margin-top: 20px;
	line-height: em(24);
	color: #000;
}

footer {
	position:fixed;
	left: 0px;
	bottom: 20px;
	width: 100%;
	height: 40px;
	line-height: em(24);
	color: #333;
	font-size: em(14);
	text-align: center;

	p {
		margin: 0 auto;
		width: 360px;
	}

	a {
		font-weight: 700;
		color: #333;
		&:hover { color: #fff; }
	}
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


// Blue scrollbar:
// http://css-tricks.com/examples/WebKitScrollbars/
::-webkit-scrollbar { width: 12px; }

/* Track */
::-webkit-scrollbar-track { background: rgba(235,235,235,1); }

/* Handle */
::-webkit-scrollbar-thumb { background: rgba(153,79,185,1); }
::-webkit-scrollbar-thumb:window-inactive { background: rgba(153,79,185,1); }
